jenkins:
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: "admin"
        name: "admin"
        password: "admin"
  remotingSecurity:
    enabled: true
unclassified:
  location:
    url: "http://{{ ansible_facts.eth1.ipv4.address }}:8080/"
